<div class="container" appWindowScroll>
    <div class="title-wrapper">
        <div class="group-title">Group 55</div>
    </div>
    <div class="main-container">
        <div class="relation-question">
            Can <span class="highlight">Anger</span> be associated with <span class="highlight">Drug</span> use?
        </div>
    </div>
    <div class="scroll-container" (click)="scrollToVisuals()">
        <img class="scroll-element" src="../../assets/Images/down-arrow.svg">
        <div class="scroll-text">Find out more</div>
    </div>
</div>